.DS_Store
/.idea
/.Build
/vendor
/Build/node_modules
.phpunit.result.cache
composer.lock
etc/testing-docker/.env
var
/Resources/Public/JavaScript/es.js
/Resources/Public/JavaScript/es.js.map
/public/
