.DS_Store
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
/.Build
composer.lock
/.idea
/etc/testing-docker/local/.env 
/Build/node_modules
/Documentation-GENERATED-temp
/public/
/vendor
etc/testing-docker/.env
var
