<html>
    <head>
        <title>{f:translate(key: 'LLL:EXT:cms_filelist_ng/Resources/Private/Language/locallang_mod_file_list_ng.xlf:file_browser.title')}</title>
        <link rel="stylesheet" href="{f:uri.resource(path:'Css/filelist.css')}">
        <script type="module" src="{f:uri.resource(path:'JavaScript/es.js')}"></script>
        <script type="text/javascript">
            var app = {f:format.json(value: appConfig) -> f:format.raw()}
        </script>
    </head>
    <body>
        <typo3-filebrowser
            irreObjectId="{irreObjectId}"
            allowedFileExtensions='{f:format.json(value: allowedFileExtensions)}'
            treeUrl="{treeUrl}"
            storages="{f:format.json(value: storages)}"
            selectedStorageUid="{selectedStorageUid}"
        ></typo3-filebrowser>
    </body>
</html>

