<html>
    <head>
        <link rel="stylesheet" href="{f:uri.resource(path:'Css/filelist.css')}">
        <script type="module" src="{f:uri.resource(path:'JavaScript/es.js')}"></script>
        <script type="text/javascript">
            var app = {f:format.json(value: appConfig) -> f:format.raw()}
        </script>
    </head>
    <body>
        <typo3-storages
            storages="{f:format.json(value: storages)}"
            userName="{userName}"
        ></typo3-storages>
    </body>
</html>
