<script type="module" src="{f:uri.resource(path:'JavaScript/es.js')}"></script>
<style type="text/css">
    body {
        margin: 0;
    }
</style>

<div style="height:100vh">
    <typo3-filestorage
        treeUrl="{treeUrl}"
        fileActionUrl="{fileActionUrl}"
        storages="{storagesJson}"
        selectedStorageUid="{selectedStorageUid}"
        translations="{translations}"
        iconUrls="{iconUrls}"
    ></typo3-filestorage>
    <typo3-snackbar placement="right"></typo3-snackbar>
</div>


<script type="text/javascript">
    window.flashMessagesUrl = "<f:format.raw>{flashMessagesUrl}</f:format.raw>";
    window.clipboardUrl = "<f:format.raw>{clipboardUrl}</f:format.raw>";
    window.downloadFilesUrl = "<f:format.raw>{downloadFilesUrl}</f:format.raw>";
    window.editFileStorageUrl = "<f:format.raw>{editFileStorageUrl}</f:format.raw>";

</script>
