<script type="module" src="{f:uri.resource(path:'JavaScript/es.js')}"></script>
<style type="text/css">
    body {
        margin: 0;
    }
</style>

<div style="height:100vh">
    <typo3-filestorage treeUrl="{treeUrl}" storages="{storagesJson}" selectedStorageUid="{selectedStorageUid}"></typo3-filestorage>
</div>


<script type="text/javascript">
    window.addEventListener('typo3-context-menu-item-click', function(e) {
        top.TYPO3.InfoWindow.showItem('_FILE', '1:/introduction/images/streets/adrian-207619.jpg');
    });
</script>


